---
---

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}
p { margin: 0; }  
#stage {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: 1100px; min-height: 650px;
    overflow: hidden;
}


/*********************************************************************************
  #hello (0.0s ~ 6.0s)
*********************************************************************************/
#hello {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    // Referred from http://utsutsunogare.com/centering-auto-width/
    span {
        display: table;
        margin: calc(50vh - 100px) 0;
        padding: 5px 20px;

        color: whitesmoke;
        font-family: "ff-netto-web";
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        text-align: center;
        line-height: 120px;
        border-bottom: solid 1px white;
    }
    .word {
        margin-left: auto;
        margin-right: auto;

        animation: fadeout 0.5s ease-in-out 5.0s forwards;
    }
    // TODO: spanとの相対的な距離で配置する．（縦の画面サイズが違うと，spanとの距離も変化してしまっている）
    // Referred from https://www.granfairs.com/blog/staff/make-triangle-with-css
    .triangle {
        border-right: 30px solid transparent;
        // border-bottom = (√3 / 2) * (border-right + border-left)
        border-bottom: 51.9615242271px solid #e41717;
        border-left: 30px solid transparent;

        position: absolute;
        // left: 50% - border-left
        top: calc(50% + 60px); left: calc(50% - 30px);
        width: 0px; height: 0px;
        opacity: 0.9;

        // Bind to keyframes
        animation: waiting 1.5s ease-in-out 0s 4, fadeout 0.5s ease-in-out 5.5s forwards;
    }
}

/*********************************************************************************
  #open (6.0s ~ 9.0s)
**********************************************************************************/
// Still it is in concept...
// An alternative implementation is below.
/*********************************************************************************
  #open-alt (6.0s ~ 9.0s)
**********************************************************************************/
#open-alt {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    .split-left, .split-right {
        width: 50vw;
        height: 100vh;
        color: whitesmoke;
        opacity: 0.0;
    }
    .split-left {
        float: left;
        border-right: 5px solid;
        animation: fadein 1.0s ease-in-out 6.0s forwards, move-left 2.0s ease-in-out 7.0s forwards;
    }
    .split-right {
        border-left: 5px solid;
        transform: translateX(50vw);
        animation: fadein 1.0s ease-in-out 6.0s forwards, move-right 2.0s ease-in-out 7.0s forwards;
    }
}

/*********************************************************************************
  #contents (9.0s ~ 10.0s)
**********************************************************************************/
#contents {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    font-family: "dnp-shuei-mgothic-std";
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    .fa-size {
        font-size: 50px ;
    }
    .fa-white:before {
        color: whitesmoke ;
    }
    .fa-fade {
        opacity: 0.0;
        // transform-style: preserve-3d;
        animation: fadein 1.0s ease-in-out 9.0s forwards;
    }
    .fa-margin {
        margin-right: 3px;
        margin-left: 3px;
    }
    // .fa-3d {
    //     // transform-style: preserve-3d;
    //     // animation: fadein 1.0s ease-in-out 9.0s forwards;
    //     // animation: move-front 1.0s ease-in-out 10.0s forwards;
    // }
    a {
        text-decoration: none;
        color: whitesmoke;
        margin-left: 5px;

        opacity: 0.0;
        animation: fadein 1.0s ease-in-out 9.0s forwards;
    }
    div {
        display: table;
        // margin: calc(50vh) 0;
        padding: 5px 20px;
        opacity: 0.0;
        animation: fadein 1.0s ease-in-out 9.0s forwards;
        box-sizing: border-box;
    }
    .cards {
        margin: 100px auto 50px auto;
    }
    .card {
        float: left;
        &:hover {
            border: 1px solid whitesmoke;
        }
    }
    p {
        opacity: 0.0;
        animation: fadein 1.0s ease-in-out 9.0s forwards;
    }
    .biography {
        margin: 100px auto 50px auto;
    }
    .title {
        margin-bottom: 10px;
        font-size: x-large;
    }
    .content {
        font-size: medium;
    }
}


/*********************************************************************************
  keyframes
**********************************************************************************/
@keyframes waiting {
    0%   { opacity: 0.9; }
    50%  { opacity: 0.0; }
    100% { opacity: 0.9; }
}
@keyframes fadeout {
    100% { opacity: 0.0; }
}
@keyframes fadein {
    100% { opacity: 1.0; }
}
@keyframes move-right {
    100% { transform: translateX(100vw); }
}
@keyframes move-left {
    100% { transform: translateX(calc(-50vw - 5px)); }
}
@keyframes move-front {
    100% { transform: translateX(100px); }
}
