---
---

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}
p { margin: 0; }  
#stage {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: 1100px; min-height: 650px;
    overflow: hidden;
}


/*********************************************************************************
  #hello
*********************************************************************************/
#hello {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    // Referred from http://utsutsunogare.com/centering-auto-width/
    span {
        display: table;
        margin: calc(50vh - 100px) 0;
        padding: 5px 20px;

        color: whitesmoke;
        font-family: "ff-netto-web";
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        text-align: center;
        line-height: 120px;
        border-bottom: solid 1px white;
    }
    .word {
        margin-left: auto;
        margin-right: auto;
    }
    // Referred from https://www.granfairs.com/blog/staff/make-triangle-with-css
    .triangle {
        border-right: 30px solid transparent;
        // border-bottom = (√3 / 2) * (border-right + border-left)
        border-bottom: 51.9615242271px solid #e41717;
        border-left: 30px solid transparent;

        position: absolute;
        // left: 50% - border-left
        top: calc(50% + 60px); left: calc(50% - 30px);
        width: 0px; height: 0px;
        opacity: 0.9;

        // Bind to keyframes
        animation: waiting 1.5s ease-in-out 0s infinite;
    }
}

/*********************************************************************************
  Bind to keyframes
**********************************************************************************/
/*** .word-1 ***/
#prologue .word-1 div {
    &:nth-child(1) p { animation: show-word 0.2s linear 0.0s forwards; }
    &:nth-child(2) p { animation: show-word 0.2s linear 0.2s forwards; }
    &:nth-child(3) p { animation: show-word 0.2s linear 0.4s forwards; }
    &:nth-child(4) p { animation: show-word 0.2s linear 0.6s forwards; }
    &:nth-child(5) p { animation: show-word 0.2s linear 0.8s forwards; }
}

/*********************************************************************************
  keyframes
**********************************************************************************/
@keyframes show-word {
  0%   { transform: scale(0.4); opacity: 0; }
  70%  { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes waiting {
    0%   { opacity: 0.9; }
    50%  { opacity: 0.0; }
    100% { opacity: 0.9; }
}
